<ng-container *ngFor="let postcard of postcards">
  <div class="postcard" *ngIf="postcard.isSent">
    <div class="container">
      <div class="item">
        <span>{{postcard.postcardId}}</span>
        <span class="country">
          <span class="borders"></span>
          <span class="text"> {{postcard.fromCountry}}</span>
        </span>
      </div>
      <div class="item">
        <span>{{postcard.fromMember}}</span>
        <span>{{postcard.sentDate}}</span>
      </div>
    </div>
  </div>
</ng-container>
<app-postcard></app-postcard>


