<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">ЛИСТІВКИ</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        Відправлені</button>
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        Отримані</button>
    </mat-menu>
    <button mat-button routerLink="gallery">Галерея</button>
    <button mat-button routerLink="map">Карта</button>
    <button mat-button>Статистика</button>
    <span class="example-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

