.postcard {
  width: 300px;
  padding: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: top;
  margin: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  background: #fff;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 800;
}
.container {
  min-height:200px;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}
.item{
  display: flex;
  justify-content:space-between;
}
